*~
DS_Store
dox
.svn
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake
*.cxx
*.a
*.log
*.aux
*.dvi
*.toc
*.idx
*.ind
*.o
config.h
qucs-attenuator/CMakeFiles
qucs-edit/CMakeFiles
qucs-filter/CMakeFiles
qucs-help/CMakeFiles
qucs-lib/CMakeFiles
qucs-transcalc/CMakeFiles
qucs/dialogs/ui_savedocumentsdialog.h
qucs/CMakeFiles

qucs-attenuator/qucsattenuator
qucs-edit/qucsedit
qucs-filter/qucsfilter
qucs-help/qucshelp
qucs-lib/qucslib
qucs-transcalc/qucstrans
qucs/dialogs/ui_savedocumentsdialog.h
qucs/qucs

